body.vsc-initialized {
    background-color: black;
}

.row {
    flex-direction: row;
    display: flex;
}

.square_dark,
.square_light {
    width: 72px;
    height: 72px;
    float: left;
}

.square {
    float: left;
    width: 80px;
    height: 80px;
}

.square_dark {
    background-color: #BA7A3A;
}

.square_light {
    background-color: #dcdada;
}

.checker-black {
    --c: rgb(27, 27, 139);
}

.checker-white {
    --c: rgb(160, 160, 160);
}

.clickable {
    cursor: pointer;
}

.king {
    border: 2px solid rgb(252 255 0) !important;
}

.menu {
    font-family: 'Neue Haas Grotesk Text Pro';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 576px;
    flex-direction: column;
    transition: all .5s ease-in-out;
}

.menu-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.winner {
    background-color: rgb(255, 255, 255);
    width: 576px;
    height: 576px;
}

.play-again-container {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 38px;
    padding-top: 38px;
}

.play-again {
    cursor: pointer;
    padding: 15px;
    border-radius: 15px 15px;
    /* background-color: darkgoldenrod; */
    width: 100px;
    text-align: center;
    color: white;
    letter-spacing: 1px;

    background-image: linear-gradient(to right, #ffbb00, #e43603, #e85a19);
}

.play-again:hover {
    background-position: 100% 0;
    transition: all .25s ease-in-out;
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.btn-hover:focus {
    outline: none;
}

.winner-text {
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
    cursor: default;
    letter-spacing: 3px;
}

.grid-container {
    display: grid;
    grid-template-columns: 0fr 0fr;
    grid-gap: 0px;
    justify-content: center;
}

.checker {
	border-radius: 50%;
	border: 2px solid white;
    position: relative;
    width: 75%;
    height: 75%;
    top: 6px;
    left: 6px;
    box-shadow: 5px 6px 15px -3px #000000;
    background: 
    radial-gradient(farthest-side,var(--c,transparent) 98%,transparent 100%),
    var(--b,transparent);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.possible_move {
    border-radius: 50%;
    border: 2px solid rgb(191 191 191);
    cursor: pointer;
    position: relative;
    width: 20%;
    height: 20%;
    top: 26px;
    left: 26px;
}